@model BelotApp.ViewModels.GameResultsVM

@{
    ViewData["Title"] = "Create";
}

<div class="d-flex flex-wrap flex-column justify-content-center align-content-center">
    <div class="title">Novi rezultat</div>
    <hr />
    <div class="row input-form">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TeamOneResult" class="control-label">@ViewBag.TeamOneName</label>
                <input asp-for="TeamOneResult" class="form-control border-0 custom-shadow bg-white mb-2" />
                <span asp-validation-for="TeamOneResult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamTwoResult" class="control-label">@ViewBag.TeamTwoName</label>
                <input asp-for="TeamTwoResult" class="form-control border-0 custom-shadow bg-white mb-2" />
                <span asp-validation-for="TeamTwoResult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Combination" class="control-label"></label>
                <input asp-for="Combination" class="form-control border-0 custom-shadow bg-white mb-2" />
                <span asp-validation-for="Combination" class="text-danger"></span>
            </div>
            <div class="form-group" id="combinationCallDiv">
                <label asp-for="CombinationCall" class="control-label"></label>
                <select asp-for="CombinationCall" class="form-control border-0 custom-shadow bg-white mb-2">
                    <option value="@ViewBag.TeamOneName">@ViewBag.TeamOneName</option>
                    <option value="@ViewBag.TeamTwoName">@ViewBag.TeamTwoName</option>
                </select>
                <span asp-validation-for="CombinationCall" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrumpCall" class="control-label"></label>
                <select asp-for="TrumpCall" class="form-control border-0 custom-shadow bg-white">
                    <option value="@ViewBag.TeamOneName">@ViewBag.TeamOneName</option>
                    <option value="@ViewBag.TeamTwoName">@ViewBag.TeamTwoName</option>
                </select>
                <span asp-validation-for="TrumpCall" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Spremi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $("#combinationCallDiv").hide();

            $("#Combination").keyup(function () {
                if ($("#Combination").val() == "") {
                    $("#combinationCallDiv").slideUp();
                }
                else {
                    $("#combinationCallDiv").slideDown();
                }
            });

            function calculateOppositeField(inputField, oppositeField) {
                var userInput = parseInt($(inputField).val()) || 0; // Ensure userInput is a number
                var calculatedValue = Math.max(162 - userInput, 0); // Ensure calculatedValue doesn't go below 0
                $(oppositeField).val(calculatedValue);
            }

            $('#TeamOneResult').on('input', function () {
                calculateOppositeField('#TeamOneResult', '#TeamTwoResult');
            });

            $('#TeamTwoResult').on('input', function () {
                calculateOppositeField('#TeamTwoResult', '#TeamOneResult');
            });
        });
    </script>
}