@model IEnumerable<BelotApp.ViewModels.GameResultsVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @ViewBag.TeamOneName
            </th>
            <th>
                @ViewBag.TeamTwoName
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Combination)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (ViewBag.TeamOneName == item.TrumpCall && ViewBag.TeamOneName == item.CombinationCall)
                    {
                        if (item.TeamOneResult > (item.Combination + 162) / 2)
                        {
                            var result = item.TeamOneResult + item.Combination;
                            @result
                        } else
                        {
                            @Html.Raw("-")
                        }
                    } 
                    else if (ViewBag.TeamOneName == item.CombinationCall && ViewBag.TeamOneName != item.TrumpCall)
                    {
                        var result = item.TeamOneResult + item.Combination;
                        @result
                    }
                    else if (ViewBag.TeamOneName != item.CombinationCall && ViewBag.TeamOneName == item.TrumpCall)
                    {
                        if (item.TeamOneResult > (item.Combination + 162) / 2)
                        {
                            var result = item.TeamOneResult;
                            @result
                        }
                        else
                        {
                            @Html.Raw("-")
                        }
                    }
                    else
                    {
                        var result = item.TeamOneResult;
                        @result
                    }
                </td>
                <td>
                    @if (ViewBag.TeamTwoName == item.TrumpCall && ViewBag.TeamTwoName == item.CombinationCall)
                    {
                        if (item.TeamTwoResult > (item.Combination + 162) / 2)
                        {
                            var result = item.TeamTwoResult + item.Combination;
                            @result
                        }
                        else
                        {
                            @Html.Raw("-")
                        }
                    }
                    else if (ViewBag.TeamTwoName == item.CombinationCall && ViewBag.TeamTwoName != item.TrumpCall)
                    {
                        var result = item.TeamTwoResult + item.Combination;
                        @result
                    }
                    else if (ViewBag.TeamTwoName != item.CombinationCall && ViewBag.TeamTwoName == item.TrumpCall)
                    {
                        if (item.TeamTwoResult > (item.Combination + 162) / 2)
                        {
                            var result = item.TeamTwoResult;
                            @result
                        }
                        else
                        {
                            @Html.Raw("-")
                        }
                    }
                    else
                    {
                        var result = item.TeamTwoResult;
                        @result
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Combination)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }

        @{
            var teamTwoCombinationSum = Model.Where(item => item.CombinationCall == ViewBag.TeamTwoName).Sum(item => item.Combination);
        }

        <tr>
            <td>

            </td>
            <td>

            </td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
