@model IEnumerable<BelotApp.ViewModels.GameResultsVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@{
    int? teamOneResultsSum = 0;
    int? teamTwoResultsSum = 0;
    <table class="table">
        <thead>
            <tr>
                <th>
                    @ViewBag.TeamOneName
                </th>
                <th>
                    @ViewBag.TeamTwoName
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Combination)
                </th>
                <th></th>
            </tr>
        </thead>




        <tbody>
            @foreach (var item in Model)
            {
                bool teamOnePass = true;
                bool teamTwoPass = true;
                
                if (item.Combination == 0)
                {
                    if (ViewBag.TeamOneName == item.TrumpCall && item.TeamOneResult <= 162 / 2)
                    {
                        teamOnePass = false;
                    }
                    else if (ViewBag.TeamTwoName == item.TrumpCall && item.TeamTwoResult <= 162 / 2)
                    {
                        teamTwoPass = false;
                    }
                } else
                {
                    if (ViewBag.TeamOneName == item.TrumpCall && item.TeamOneResult + item.Combination <= (item.Combination + 162) / 2)
                    {
                        teamOnePass = false;
                    }
                    else if (ViewBag.TeamTwoName == item.TrumpCall && item.TeamTwoResult + item.Combination <= (item.Combination + 162) / 2)
                    {
                        teamTwoPass = false;
                    }
                }

                <tr>
                    <td>
                        @if (ViewBag.TeamOneName == item.TrumpCall && ViewBag.TeamOneName == item.CombinationCall)
                        {
                            if (item.TeamOneResult + item.Combination > (item.Combination + 162) / 2)
                            {
                                var result = item.TeamOneResult + item.Combination;
                                teamOneResultsSum += result;
                                @result
                            }
                            else
                            {
                                @Html.Raw("-")
                            }
                        }
                        else if (ViewBag.TeamOneName == item.CombinationCall && ViewBag.TeamOneName != item.TrumpCall)
                        {
                            int? result;
                            if (!teamTwoPass)
                            {
                                result = 162 + item.Combination;
                                teamOneResultsSum += result;
                                @result
                            }
                            else
                            {
                                result = item.TeamOneResult + item.Combination;
                                teamOneResultsSum += result;
                                @result
                            }
                        }
                        else if (ViewBag.TeamOneName != item.CombinationCall && ViewBag.TeamOneName == item.TrumpCall)
                        {
                            if (item.TeamOneResult > (item.Combination + 162) / 2)
                            {
                                var result = item.TeamOneResult;
                                teamOneResultsSum += result;
                                @result
                            }
                            else
                            {
                                @Html.Raw("-")
                            }
                        }
                        else
                        {
                            int? result;
                            if (!teamTwoPass)
                            {
                                result = 162 + item.Combination;
                                teamOneResultsSum += result;
                                @result
                            }
                            else
                            {
                                result = item.TeamOneResult;
                                teamOneResultsSum += result;
                                @result
                            }
                        }
                    </td>
                    <td>
                        @if (ViewBag.TeamTwoName == item.TrumpCall && ViewBag.TeamTwoName == item.CombinationCall)
                        {
                            if (item.TeamTwoResult + item.Combination > (item.Combination + 162) / 2)
                            {
                                var result = item.TeamTwoResult + item.Combination;
                                teamTwoResultsSum += result;
                                @result
                            }
                            else
                            {
                                @Html.Raw("-")
                            }
                        }
                        else if (ViewBag.TeamTwoName == item.CombinationCall && ViewBag.TeamTwoName != item.TrumpCall)
                        {
                            int? result;
                            if (!teamOnePass)
                            {
                                result = 162 + item.Combination;
                                teamTwoResultsSum += result;
                                @result
                            }
                            else
                            {
                                result = item.TeamTwoResult + item.Combination;
                                teamTwoResultsSum += result;
                                @result
                            }
                        }
                        else if (ViewBag.TeamTwoName != item.CombinationCall && ViewBag.TeamTwoName == item.TrumpCall)
                        {
                            if (item.TeamTwoResult > (item.Combination + 162) / 2)
                            {
                                var result = item.TeamTwoResult;
                                teamTwoResultsSum += result;
                                @result
                            }
                            else
                            {
                                @Html.Raw("-")
                            }
                        }
                        else
                        {
                            int? result;
                            if (!teamOnePass)
                            {
                                result = 162 + item.Combination;
                                teamTwoResultsSum += result;
                                @result
                            }
                            else
                            {
                                result = item.TeamTwoResult;
                                teamTwoResultsSum += result;
                                @result
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Combination)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </td>
                </tr>
            }

            <tr>
                <td>
                    @teamOneResultsSum
                </td>
                <td>
                    @teamTwoResultsSum
                </td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <p>
        @{
            if (teamOneResultsSum >= ViewBag.GameLength)
            {
                <h2>@ViewBag.TeamOneName je pobjedio!</h2>
            }
            else if (teamTwoResultsSum >= ViewBag.GameLength)
            {
                <h2>@ViewBag.TeamTwoName je pobjedio!</h2>
            } else
            {
                <a asp-action="Create">Create New</a>
            }
        }
    </p>
}
