@model IEnumerable<BelotApp.ViewModels.GameResultsVM>

<div class="title">REZULTATI</div>

@{
    int? teamOneResultsSum = 0;
    int? teamTwoResultsSum = 0;

    <div class="d-flex justify-content-center align-content-center w-100">
        <table class="table shadow-lg" id="results-table">
            <thead>
                <tr>
                    <th>
                        @ViewBag.TeamOneName
                    </th>
                    <th>
                        @ViewBag.TeamTwoName
                    </th>
                </tr>
            </thead>




            <tbody>
                @foreach (var item in Model)
                {
                    bool teamOnePass = true;
                    bool teamTwoPass = true;

                    if (item.Combination == 0)
                    {
                        if (ViewBag.TeamOneName == item.TrumpCall && item.TeamOneResult <= 162 / 2)
                        {
                            teamOnePass = false;
                        }
                        else if (ViewBag.TeamTwoName == item.TrumpCall && item.TeamTwoResult <= 162 / 2)
                        {
                            teamTwoPass = false;
                        }
                    }
                    else
                    {
                        if (ViewBag.TeamOneName == item.TrumpCall && ViewBag.TeamOneName != item.CombinationCall && item.TeamOneResult <= (item.Combination + 162) / 2)
                        {
                            teamOnePass = false;
                        }
                        else if (ViewBag.TeamTwoName == item.TrumpCall && ViewBag.TeamTwoName != item.CombinationCall && item.TeamTwoResult <= (item.Combination + 162) / 2)
                        {
                            teamTwoPass = false;
                        }
                        else if (ViewBag.TeamOneName == item.TrumpCall && ViewBag.TeamOneName == item.CombinationCall && item.TeamOneResult + item.Combination <= (item.Combination + 162) / 2)
                        {
                            teamOnePass = false;
                        }
                        else if (ViewBag.TeamTwoName == item.TrumpCall && ViewBag.TeamTwoName == item.CombinationCall && item.TeamTwoResult + item.Combination <= (item.Combination + 162) / 2)
                        {
                            teamTwoPass = false;
                        }
                    }

                    <tr onclick="location.href='@Url.Action("Edit", new { id = item.Id })'" style="cursor:pointer;">
                        <td>
                            @if (ViewBag.TeamOneName == item.TrumpCall && ViewBag.TeamOneName == item.CombinationCall)
                            {
                                if (item.TeamOneResult + item.Combination > (item.Combination + 162) / 2)
                                {
                                    var result = item.TeamOneResult + item.Combination;
                                    teamOneResultsSum += result;
                                    @result
                                }
                                else
                                {
                                    @Html.Raw("-")
                                }
                            }
                            else if (ViewBag.TeamOneName == item.CombinationCall && ViewBag.TeamOneName != item.TrumpCall)
                            {
                                int? result;
                                if (!teamTwoPass)
                                {
                                    result = 162 + item.Combination;
                                    teamOneResultsSum += result;
                                    @result
                                }
                                else
                                {
                                    result = item.TeamOneResult + item.Combination;
                                    teamOneResultsSum += result;
                                    @result
                                }
                            }
                            else if (ViewBag.TeamOneName != item.CombinationCall && ViewBag.TeamOneName == item.TrumpCall)
                            {
                                if (item.TeamOneResult > (item.Combination + 162) / 2)
                                {
                                    var result = item.TeamOneResult;
                                    teamOneResultsSum += result;
                                    @result
                                }
                                else
                                {
                                    @Html.Raw("-")
                                }
                            }
                            else
                            {
                                int? result;
                                if (!teamTwoPass)
                                {
                                    result = 162 + item.Combination;
                                    teamOneResultsSum += result;
                                    @result
                                }
                                else
                                {
                                    result = item.TeamOneResult;
                                    teamOneResultsSum += result;
                                    @result
                                }
                            }
                        </td>
                        <td>
                            @if (ViewBag.TeamTwoName == item.TrumpCall && ViewBag.TeamTwoName == item.CombinationCall)
                            {
                                if (item.TeamTwoResult + item.Combination > (item.Combination + 162) / 2)
                                {
                                    var result = item.TeamTwoResult + item.Combination;
                                    teamTwoResultsSum += result;
                                    @result
                                }
                                else
                                {
                                    @Html.Raw("-")
                                }
                            }
                            else if (ViewBag.TeamTwoName == item.CombinationCall && ViewBag.TeamTwoName != item.TrumpCall)
                            {
                                int? result;
                                if (!teamOnePass)
                                {
                                    result = 162 + item.Combination;
                                    teamTwoResultsSum += result;
                                    @result
                                }
                                else
                                {
                                    result = item.TeamTwoResult + item.Combination;
                                    teamTwoResultsSum += result;
                                    @result
                                }
                            }
                            else if (ViewBag.TeamTwoName != item.CombinationCall && ViewBag.TeamTwoName == item.TrumpCall)
                            {
                                if (item.TeamTwoResult > (item.Combination + 162) / 2)
                                {
                                    var result = item.TeamTwoResult;
                                    teamTwoResultsSum += result;
                                    @result
                                }
                                else
                                {
                                    @Html.Raw("-")
                                }
                            }
                            else
                            {
                                int? result;
                                if (!teamOnePass)
                                {
                                    result = 162 + item.Combination;
                                    teamTwoResultsSum += result;
                                    @result
                                }
                                else
                                {
                                    result = item.TeamTwoResult;
                                    teamTwoResultsSum += result;
                                    @result
                                }
                            }
                        </td>
                    </tr>
                }

                <tr>
                    <td>
                        @if (teamOneResultsSum == 0)
                        {
                            @Html.Raw("-")
                        }
                        else
                        {
                            @teamOneResultsSum
                        }
                    </td>
                    <td>
                        @if (teamTwoResultsSum == 0)
                        {
                            @Html.Raw("-")
                        }
                        else
                        {
                            @teamTwoResultsSum
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="w-100 d-flex justify-content-center">
        @{
            if (teamOneResultsSum < ViewBag.GameLength && teamTwoResultsSum < ViewBag.GameLength)
            {
                <a asp-action="Create" class="btn btn-primary round-btn"><i class="fa-solid fa-plus"></i></a>
            }
        }
    </div>
}

<div class="modal fade" id="winnerPopUpModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h3 class="modal-title" id="staticBackdropLabel">Pobjednik</h3>
            </div>
            <div class="modal-body d-flex justify-content-center">
                @{
                    if (teamOneResultsSum >= ViewBag.GameLength)
                    {
                        <h2>@ViewBag.TeamOneName</h2>
                    }
                    else if (teamTwoResultsSum >= ViewBag.GameLength)
                    {
                        <h2>@ViewBag.TeamTwoName</h2>
                    }
                }
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Zatvori</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            if (@teamOneResultsSum >= @(ViewBag.GameLength) || @teamTwoResultsSum >= @(ViewBag.GameLength)) {
                $("#winnerPopUpModal").modal("show");

                var winningTeam = @teamOneResultsSum >= @(ViewBag.GameLength) ? '@ViewBag.TeamOneName' : '@ViewBag.TeamTwoName';
                var gameId = @(ViewBag.GameId);

                $.ajax({
                    url: '/Games/SetWinner',
                    type: 'POST',
                    data: { gameId: gameId, winningTeam: winningTeam },
                    success: function (data) {
                        // Handle success
                        console.log(data);
                    },
                    error: function (error) {
                        // Handle error
                        console.error(error);
                    }
                });
            }
        });
    </script>
}