@model IEnumerable<BelotApp.ViewModels.GameResultsVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @ViewBag.TeamOneName
            </th>
            <th>
                @ViewBag.TeamTwoName
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Combination)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamOneResult)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamTwoResult)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Combination)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }

        <tr>
            <td>
                @Model.Sum(item => item.TeamOneResult)
            </td>
            <td>
                @Model.Sum(item => item.TeamTwoResult)
            </td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
