@model BelotApp.ViewModels.GameVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamOneName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamOneName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamTwoName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamTwoName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Winner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Winner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameLength)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
