@model PagedList.IPagedList<BelotApp.ViewModels.GameVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Pretraži po timu: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Prvi tim
            </th>
            <th>
                Drugi tim
            </th>
            <th>
                Datum
            </th>
            <th>
                Pobjednik
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamOneName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamTwoName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Winner)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Index" asp-controller="GameResults" asp-route-gameId="@item.Id">View Game</a>

                </td>
            </tr>
        }
    </tbody>
</table>
<div class="pagination d-flex justify-content-center">
    <ul class="pagination">
        @if (Model.PageNumber > 1)
        {
            <li class="page-item">
                <a class="page-link btn btn-sm" href="@Url.Action("Index", new { page = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })">Prethodna</a>
            </li>
        }

        @if (Model.PageCount > 1)
        {
            @for (var pageNumber = Math.Max(1, Model.PageNumber - 2); pageNumber <= Math.Min(Model.PageCount, Model.PageNumber + 2); pageNumber++)
            {
                <li class="page-item @(Model.PageNumber == pageNumber ? "active" : "")">
                    <a class="page-link btn btn-sm" href="@Url.Action("Index", new { page = pageNumber, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })">@pageNumber</a>
                </li>
            }
        }

        @if (Model.PageNumber < Model.PageCount)
        {
            <li class="page-item">
                <a class="page-link btn btn-sm" href="@Url.Action("Index", new { page = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })">Sljedeća</a>
            </li>
        }
    </ul>
</div>

