@model IEnumerable<BelotApp.ViewModels.GameVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamOneName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamTwoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Winner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamOneName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamTwoName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Winner)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-action="Index" asp-controller="GameResults" asp-route-gameId="@item.Id">View Game</a>

                </td>
            </tr>
        }
    </tbody>
</table>
