@model IEnumerable<BelotApp.ViewModels.UsersVM>

<h1>Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="GamesByUserId" asp-controller="Games" asp-route-userId="@item.Id">View Games</a>
            </td>
        </tr>
}
    </tbody>
</table>
